<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>{% block title %}Выставочные залы города{% endblock title %}</title>
    <meta charset="utf-8" />
</head>
<body>
    <header id="pageHeader"><div>{% block header %}Header{% endblock header %}</div></header>
    <nav id="mainNav">
        <ul>
            <li><a href="/exhibits">Экспонаты</a></li>
            <li><a href="/exhibition_halls">Выставочные залы</a></li>
            <li><a href="/exhibitions">Список выставок</a></li>
            <li><a href="/exhibition_by_exhibit">Список выставок по экспонату</a></li>
        </ul>
    </nav>
    <div id="mainContent">
        <div class="wrapper">
            {% block content %}Content{% endblock content %}</div>
        </div>
    <footer id="pageFooter">Footer</footer>
</body>
</html>