<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>{% block title %}Выставочные залы города{% endblock title %}</title>
    <meta charset="utf-8" />
</head>
<body>
    <header id="pageHeader"><h2>{% block header %}Header{% endblock header %}</h2></header>
    <nav id="mainNav">
        <ul>
            <li><a href="/">Программы</a></li>
            <li><a href="/test">Выставочные залы</a></li>
            <li><a href="/exhibitions">Список выставок</a></li>
        </ul>
    </nav>
    <div id="mainContent">{% block content %}Content{% endblock content %}</div>
    <footer id="pageFooter">Footer</footer>
</body>
</html>