{% extends "base.html" %}
{% block title %}Выставочные залы{% endblock title %}
{% block header %}Выставочные залы{% endblock header %}
  
{% block content %}
<div id="test-form">
    <form method="POST">
        {% csrf_token %}
        Город: {{form.city}}
        <input type="submit" value="Send" >
    </form>
</div>
<div id="test-table">
    <table>
        <tr>
          <th>Дата</th>
          <th>Название</th>
          <th>Адрес зала</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{line.date}}</td>
            <td>{{line.name}}</td>
            <td>{{line.hall_address}}</td>
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock content %}