{% extends "base.html" %}
{% block title %}Экспонаты{% endblock title %}
{% block header %}Экспонаты{% endblock header %}
  
{% block content %}
<div id="mainContentForm">
  <form method="POST">
    {% csrf_token %}
    Выставка: {{form.exebition}}
  <input type="submit" value="Send" >
  </form>
</div>
<div id="mainContentTable">
    <table>
        <tr>
          <th>Название</th>
          <th>Автор</th>
          <th>Год рождения автора</th>
          <th>Дата создания</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{line.exhibit_name}}</td>
            <td>{{line.artist_name}}</td>
            <td>{{line.artist_birth_year}}</td>
            <td>{{line.exhibit_creation_date}}</td>
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock content %}