{% extends "base.html" %}
{% block title %}Программы{% endblock title %}
{% block header %}Программы{% endblock header %}
  
{% block content %}
<div id="test-form">
  <form method="POST">
    {% csrf_token %}
    Выставка: {{form.exebition}}
    <input type="submit" value="Send" >
  </form>
</div>
<div id="test-table">
    <table>
        <tr>
          <th>Название</th>
          <th>Автор</th>
          <th>Возраст автора</th>
          <th>Дата создания</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{line.exhibit_name}}</td>
            <td>{{line.artist_name}}</td>
            <td>{{line.artist_age}}</td>
            <td>{{line.exhibit_creation_date}}</td>
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock content %}