@import url(https://fonts.googleapis.com/css?family=Lora);
#pageHeader h2 {
  font-family: monospace;
  color: #606060;
}
#mainNav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
#mainNav a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}


body { 
  display: grid;
  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 15% 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  }
header, footer, article, nav, div {
  background: #ebcece;
}
#pageHeader {
  grid-area: header;
  padding-top:0;
}
#pageFooter {
  grid-area: footer;
}
#mainContent { 
  grid-area: content;      
}
#mainNav { 
  grid-area: nav; 
}

#test-form {
  height: 10%;
}
#test-table {
  height: 90%;
  background-color: bisque;
}
#test-table table {
  background-color: aqua;
  width: 100%;
}
#test-table tr {
  background-color: bisque;
  padding: 10px;
  line-height: 200%;
}
#test-table td {
  text-align: center;
}
